/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.show-for-xl {
    display: none;

    @include xl {
        display: block;
    }
}

.grid-container {
    display: grid;
    grid-template-areas: ". container .";
    grid-template-columns: 15px auto 15px;

    @include md {
        grid-template-columns: 50px auto 50px;
    }

    @include xl {
        grid-template-areas: ". container .";
        grid-template-columns: 8% auto 8%;
    }

    >div {
        grid-area: container;
    }
}

.content-spacing {
    background-color: $green;
    margin-bottom: 40px;

    @include md {
        margin-bottom: 60px;
    }
}

.top-margin{
    padding-top: 10%;
    @include lg{
        padding-top: 5%;
    }
}