#connect-intro {
    background-color: $green;
    padding-bottom: 5%;

    div {
        padding: 40px 0;

        @include lg {
            padding: 40px 10%;
        }

        section {
            h1 {
                padding-bottom: 10px;
                text-align: center;
            }
        }

        article {
            p {
                text-align: center;
            }
        }
    }
}

#connect-content{
    background-color: $green;
}