/* =============
    Gallery-Content
============= */
#gallery-intro{
    background-color: $green;
    
    div{
        padding: 40px 0;

        @include lg{
            padding: 40px 10%;
        }

        section{
            h1{
                text-align: center;
                padding-bottom: 10px;
            }
        }
        article{
            p{
                text-align: center;
            }
        }
    }
}