/* =============
    Index-Content
============= */
#index-hero {
    background-image: url("../img/index/leopard-main.png");
    background-position: center;
    background-size: cover;
    height: 60vh;
    position: relative;
    margin-top: 50px;

    @include md {
        height: 70vh;
    }

    @include lg {
        height: 90vh;
    }

    div {
        section {
            margin-left: 2%;
            margin-top: 10%;
            position: absolute;

            @include md {
                margin-left: 5%;
            }

            @include lg {
                margin-left: 15%;
                margin-top: 15%;
            }

            @include xl {
                margin-top: 10%;
            }

            h1 {
                padding-bottom: 0;
            }

            h1:nth-child(2) {
                margin-left: 10%;

                @include lg {
                    margin-left: 20%;
                }
            }

            h1:nth-child(3) {
                margin-left: 15%;

                @include md {
                    margin-left: 20%;
                }

                @include lg {
                    margin-left: 30%;
                }
            }
        }
    }
}

/* =============
    Index-Intro
============= */
#index-intro {
    background-color: $green;

    >div {
        display: grid;
        grid-template-areas: "question text-intro";
        grid-template-columns: auto 75%;

        @include md {
            grid-template-areas: "text-intro question";
            grid-template-columns: 80% auto;
        }

        #intro-text {
            grid-area: text-intro;
            padding: 5% 0%;

            h2 {
                color: $orange;
                font-weight: 700;
            }
        }

        #question-mark {
            align-items: top;
            color: rgba($color: $yellow, $alpha: 0.75);
            display: flex;
            grid-area: question;
            justify-content: center;

            @include md {
                display: grid;
                place-items: center;
            }
        }
    }
}

/* =============
    Index-Card1
============= */
#index-card1 {
    background-image: url("../img/index/rhino.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;

    @include md {
        background-position: center -200px;
        height: 50vh;
    }

    @include lg {
        background-position: bottom;
        height: 65vh;
    }

    @include xl {
        background-position: center -600px;
        height: 70vh;
    }

    div {
        article {
            h2 {
                padding-top: 30px;
                text-align: right;
            }

            p {
                color: $dark-brown;
                padding-bottom: 10px;
                padding-left: 5%;
                text-align: right;

                @include md {
                    padding-left: 62%;
                }

                @include lg {
                    padding-left: 70%;
                }

                @include xl {
                    line-height: rem-calc(28);
                }

                span {
                    font-style: italic;
                    font-weight: 800;
                }
            }
        }
    }
}

/* =============
    Index-Card1-Name
============= */
#rhino-name {
    background-color: $green;
    position: relative;

    h3 {
        color: rgba($color: $light-green, $alpha: 0.75);
        letter-spacing: 30px;
        position: absolute;
        left: 0px;
        top: -60px;

        @include md {
            letter-spacing: 50px;
            top: -90px;
        }

        @include lg {
            letter-spacing: 70px;
            top: -120px;
        }

        @include xl {
            letter-spacing: 90px;
            top: -150px;
        }
    }
}

/* =============
    Index-index-fact1
============= */
#index-fact1 {
    background-color: $green;
    padding-top: 30px;

    div {
        display: grid;
        grid-template-areas: "exclamation1 fact1";
        grid-template-columns: auto 90%;

        #exclamation-mark1 {
            color: rgba($color: $yellow, $alpha: 0.75);
            grid-area: exclamation1;
        }

        article {
            grid-area: fact1;

            h2 {
                color: $orange;

                span {
                    color: $yellow;
                }
            }

            h2:first-child {
                padding-top: 8%;
            }

            h2:last-child {
                padding-bottom: 8%;

                @include md {
                    padding-bottom: 4%;
                }
            }
        }
    }
}

/* =============
    Index-Card2
============= */
#index-card2 {
    background-image: url("../img/index/leopard2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;

    @include md {
        background-position: center -200px;
        height: 50vh;
    }

    @include lg {
        background-position: bottom;
        height: 65vh;
    }

    @include xl {
        background-position: center -600px;
        height: 70vh;
    }

    div {
        article {
            h2 {
                padding-top: 30px;
            }

            p {
                color: $dark-brown;
                padding-bottom: 10px;
                padding-right: 5%;

                @include md {
                    padding-right: 62%;
                }

                @include lg {
                    padding-right: 70%;
                }

                @include xl {
                    line-height: rem-calc(28);
                }

                span {
                    font-style: italic;
                    font-weight: 800;
                }
            }
        }
    }
}

/* =============
    Index-Card2-Name
============= */
#leopard-name {
    background-color: $green;
    position: relative;

    h3 {
        color: rgba($color: $light-brown, $alpha: 0.75);
        left: 0px;
        letter-spacing: 3px;
        position: absolute;
        top: -60px;

        @include md {
            letter-spacing: 20px;
            top: -90px;
        }

        @include lg {
            letter-spacing: 30px;
            top: -120px;
        }

        @include xl {
            letter-spacing: 40px;
            top: -150px;
        }
    }
}

/* =============
    Index-index-fact2
============= */
#index-fact2 {
    background-color: $green;
    padding-top: 30px;

    @include xl {
        padding-top: 0;
    }

    div {
        display: grid;
        grid-template-areas: "fact2 exclamation2";
        grid-template-columns: 90% auto;

        #exclamation-mark2 {
            color: rgba($color: $yellow, $alpha: 0.75);
            grid-area: exclamation2;
        }

        article {
            grid-area: fact2;

            h2 {
                color: $orange;
                padding-right: 5%;
                text-align: right;

                span {
                    color: $yellow;
                }
            }

            h2:first-child {
                padding-top: 8%;
            }

            h2:last-child {
                padding-bottom: 8%;

                @include md {
                    padding-bottom: 4%;
                }
            }
        }
    }
}

/* =============
    Index-Card3
============= */
#index-card3 {
    background-image: url("../img/index/hippo.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;

    @include md {
        background-position: center -200px;
        height: 50vh;
    }

    @include lg {
        background-position: bottom;
        height: 65vh;
    }

    @include xl {
        background-position: center -500px;
        height: 70vh;
    }

    div {
        article {
            h2 {
                padding-top: 30px;
                text-align: right;
            }

            p {
                color: $dark-brown;
                padding-bottom: 10px;
                padding-left: 5%;
                text-align: right;

                @include md {
                    padding-left: 62%;
                }

                @include lg {
                    padding-left: 68%;
                }

                @include xl {
                    line-height: rem-calc(28);
                }

                span {
                    font-style: italic;
                    font-weight: 800;
                }
            }
        }
    }
}

/* =============
    Index-Card3-Name
============= */
#hippo-name {
    background-color: $green;
    position: relative;

    h3 {
        color: rgba($color: $light-blue, $alpha: 0.75);
        letter-spacing: 25px;
        position: absolute;
        left: 0px;
        top: -60px;

        @include md {
            letter-spacing: 50px;
            top: -90px;
        }

        @include lg {
            letter-spacing: 70px;
            top: -120px;
        }

        @include xl {
            letter-spacing: 90px;
            top: -150px;
        }
    }
}

/* =============
    Index-index-fact3
============= */
#index-fact3 {
    background-color: $green;
    padding-top: 30px;

    div {
        display: grid;
        grid-template-areas: "exclamation3 fact3";
        grid-template-columns: auto 90%;

        #exclamation-mark3 {
            color: rgba($color: $yellow, $alpha: 0.75);
            grid-area: exclamation3;
        }

        article {
            grid-area: fact3;

            h2 {
                color: $orange;

                span {
                    color: $yellow;
                }
            }

            h2:first-child {
                padding-top: 8%;
            }

            h2:last-child {
                padding-bottom: 8%;

                @include md {
                    padding-bottom: 4%;
                }
            }
        }
    }
}