/* =============
    Index-Content
============= */
#index-hero {
    background-image: url("../img/index/leopard-main.png");
    background-position: center;
    background-size: cover;
    height: 60vh;
    position: relative;

    @include md {
        height: 70vh;
    }

    @include lg {
        height: 90vh;
    }

    div {
        section {
            margin-left: 2%;
            margin-top: 10%;
            position: absolute;

            @include md {
                margin-left: 5%;
            }

            @include lg {
                margin-left: 15%;
                margin-top: 15%;
            }

            @include xl {
                margin-top: 10%;
            }

            h1:nth-child(2) {
                margin-left: 10%;

                @include lg {
                    margin-left: 20%;
                }
            }

            h1:nth-child(3) {
                margin-left: 15%;

                @include md {
                    margin-left: 20%;
                }

                @include lg {
                    margin-left: 30%;
                }
            }
        }
    }
}

/* =============
    Index-Intro
============= */
#index-intro {
    background-color: $green;

    div {
        display: grid;
        grid-template-areas: "question text";
        grid-template-columns: auto 85%;

        @include md {
            grid-template-areas: "text question";
            grid-template-columns: 80% auto;
        }

        #index-intro-text {
            grid-area: text;
            padding: 5% 0%;

            @include md{
                padding-left: 5%;
            }
        }

        #question-mark {
            align-items: top;
            display: flex;
            grid-area: question;
            justify-content: center;

            @include md {
                display: grid;
                place-items: center;
            }
        }
    }
}

/* =============
    Index-Card1
============= */
