/* =============
    Header
============= */
header{
    background-color: $brown;

    div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);


        #logo-container{
            padding: 12px 0;
            img{
                width: 45px;

                @include md{
                    width: initial;
                }
            }
        }
    }

    #burger-container{
        font-size: rem-calc(32);
        color: $yellow;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}