/* =============
    Header
============= */
header {
    background-color: $brown;

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        #logo-container {
            padding: 12px 0;

            img {
                width: 45px;

                @include md {
                    width: initial;
                }
            }
        }
    }

    #burger-container {
        align-items: center;
        color: $yellow;
        display: flex;
        font-size: rem-calc(32);
        justify-content: flex-end;
    }
}