/* =============
    Header
============= */
header {
    background-color: $brown;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        #logo-container {
            padding: 12px 0;

            img {
                width: 45px;

                @include md {
                    width: initial;
                }
            }
        }
    }

    #burger-container {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        #burger {
            cursor: pointer;
            transition: 0.25s;

            #bars {
                fill: $yellow;
                transition: 0.25s;
            }

            &:hover {
                #bars {
                    fill: $orange;
                }
            }
        }
    }
}