.tns-nav {
    text-align: center;
    padding: 10px 0;
    background-color: $green;
  }
  .tns-nav > [aria-controls] {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 20px 20px 0;
    border-radius: 0%;
    background: $yellow;
    border: 0;
  }
  .tns-nav > .tns-nav-active { background: $orange; }